* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Trajan_Pro_Bold;
  src: url("../fonts/Trajan_Pro_Bold.ttf");
}
@font-face {
  font-family: varsity_regular;
  src: url("../fonts/varsity_regular.ttf");
}

:root,
html {
  font-family: Roboto, "Times New Roman", Times, serif;
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --colorPrimary: #095c32;
  --colorSecondary: #206642;
  --colorTertiary: green;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorBackgroundBlack: #000000bd;
  --colorHalfBlack: #333333;
  --colorBackgroundBlack: #343a40bd;
  --colorBackgroundOverlay: #00000070;
  --colorWhiteOverlay: rgba(212, 210, 212, 1);
  --colorBorderWhite: #dbe4e9;
}

/* Navbar Starts */
header {
  height: 80px;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* Navbar Ends */

/* slider */

#slider_section {
  background: linear-gradient(var(--colorPrimary), var(--colorSecondary));
}

.slider-content {
  background-color: var(--colorWhite);
  /* height: 90vh; */
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 15px 15px;
}

.slider-content2 {
  background-color: var(--colorWhite);
  /* height: 90vh; */
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 15px 15px;
}

.slider-Heading h4 {
  border: 2px dashed;
  margin-bottom: 15px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorPrimary);
  font-size: 2em;
  padding: 0.4em 0;
  font-family: "Trajan";
}

.slider-name h4 {
  color: var(--colorPrimary);
  /* font-size: 2em !important; */
}

.slider-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.slider-hightlight {
  background-color: var(--colorPrimary);
  color: white;
  padding: 10px;
}

.slider-border {
  border: 2px dashed;
  padding: 10px;
  font-size: 1.2em;
  /* text-align: left !important; */
}

.slider-pricing {
  font-size: 1.7em;
}

.slider_hightlights {
  font-size: 1.4em;
  text-align: left;
  padding: 0px 10px;
  text-transform: capitalize;
  line-height: 3rem;
}

.slider_hightlights i {
  padding-right: 10px;
}

#slider_section .carousel-item {
  height: 90vh;

  margin-bottom: 20px;
}

#slider_section .carousel-item img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1000px) {
  .slider-content,
  .slider-content2 {
    margin-top: 110px;
  }

  #slider_section .carousel-item {
    margin-top: 90px;
  }
}

@media screen and (max-width: 600px) {
  .slider-content {
    margin-top: 80px;
  }
}
.pro-button {
  font-size: 1.1em;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  text-transform: capitalize;
}

/* Overview */
#overview_section .sub-heading {
  color: var(--colorBlack);
}
/* .overview_img {
  height: 400px;
  width: 400px;
} */
.overview_img img {
  width: 450px;
  aspect-ratio: 1;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.overview_para {
  text-align: justify;
  font-size: 1.2em;
}

/* Highlights */
.hightlight_item .items {
  margin-bottom: 10px;
}

.hightlight_item .items:last-child {
  margin-bottom: 0;
}

.hightlight_wrap {
  /* text-align: center; */
  padding: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.5s ease;
  margin: 0;
  color: var(--colorWhite);
  background-color: var(--colorPrimary);
}

.hightlight_wrap img {
  width: 35px !important;
  margin-right: 10px !important;
  filter: invert(12%) sepia(96%) saturate(5521%) hue-rotate(353deg)
    brightness(87%) contrast(84%);
}

.hightlight_wrap p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

.hightlight_wrap h6 {
  margin-bottom: 0;
  font-size: 17px;
  text-transform: capitalize;
}

.hightlight_wrap:hover {
  transition: all 0.5s ease;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}

.hightlight_wrap.home_page {
  margin-bottom: 0;
  padding: 30px 10px;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.45);
  transition: all 0.5s ease;
  justify-content: center;
  align-items: unset;
}

.hightlight_wrap.home_page img {
  width: 80px !important;
  margin-bottom: 10px;
  margin-right: 0 !important;
}

.hightlight_wrap.home_page:hover {
  transition: all 0.5s ease;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}

.hightlight_wrap.home_page p {
  font-size: 0.8vw;
  line-height: 1.1vw;
}

/* Gallery */
.gal-img {
  /* width: 19em !important; */
  height: 200px;
}
.gal-img img {
  width: 100% !important;
  height: 100%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}

/* Configuration */
.config-block .row {
  justify-content: center;
}

.config-inner {
  text-align: center;
  font-weight: normal;
  min-height: 150px;
  padding: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  -moz-box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  box-shadow: 0px 0px 7px 0px var(--colorWhiteOverlay);
  border-radius: 30px 0px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.config-price {
  background: var(--colorPrimary);
  width: 75%;
  margin: 15px auto;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 15px 0px;
  font-size: 18px;
}

.config-price a {
  text-decoration: none;
  color: var(--colorWhite);
}

/* amenities */

.amenities-card {
  width: 100%;
  height: 15vw;
  min-height: 250px;
  background-color: var(--colorBlack);
  position: relative;
  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: -0.5rem -0.5rem 2rem rgba(0, 0, 0, 0.2),
    0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

.amenities-card:hover .title {
  transform: translateY(100%);
}

.amenities-card:hover .photo {
  opacity: 1;
}

.amenities-card .title {
  background-color: rgba(32, 37, 41, 0.5);
  backdrop-filter: blur(0.5rem);
  width: 100%;
  text-align: center;
  /* height: 35%; */
  position: absolute;
  bottom: 0%;
  padding: 1rem;
  border-top: 0.1rem solid #4c555c;
  box-shadow: 0rem -0.1rem 0.5rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in;
}

.amenities-card .photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  opacity: 0.8;
  transition: 0.5s ease-in-out;
  /* aspect-ratio: 3/2; */
}
.amenities-card h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  color: #f3f5f8;
  text-transform: uppercase;
}

/* Location */
.location-features .row .col {
  font-size: 1.9rem !important;
}
.location-features i {
  color: var(--colorPrimary);
}

.nearby_locations {
  border: 1px dotted var(--colorPrimary);
  padding: 10px;
}

/* About */
#about_section {
  background-color: var(--colorPrimary);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 970px; */
  background-attachment: fixed;
  padding: 0 !important;
}

#about_section .sub-heading {
  color: var(--colorPrimary);
  font-size: 1.5em;
}

#about_section .sub-heading {
  letter-spacing: 3.5px;
}

.read_more {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  width: fit-content;
  padding: 5px;
  color: var(--colorWhite);
}
