* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @font-face {
  font-family: "Roboto";
  src: url("../fonts/") format("truetype");
} */

:root,
html {
  font-family: Roboto, "Times New Roman", Times, serif;
  scroll-padding-top: 70px;
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --colorPrimary: #095c32;
  --colorSecondary: #206642;
  --colorTertiary: green;
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorBackgroundBlack: #000000bd;
  --colorHalfBlack: #333333;
  --colorBackgroundBlack: #343a40bd;
  --colorBackgroundOverlay: #00000070;
  --colorWhiteOverlay: rgba(212, 210, 212, 1);
  --colorBorderWhite: #dbe4e9;
}

/* Navbar Starts */
header {
  height: 80px;
}

/* Navbar */
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}

.navbar-nav .nav-link {
  color: var(--colorBlack);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  background-color: var(--colorPrimary);
  height: 100%;
  color: var(--colorWhite);
}

.nav-link:hover {
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
}

.nav-icon {
  margin-right: 5px;
}
@media only screen and (min-width: 1000px) {
  .navbar-nav .nav-link {
    font-size: 1.01vw !important;
    letter-spacing: 0.02vw;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand img {
    height: 45px;
  }
}

/* Navbar Ends */

/* slider */

#slider_section {
  background: linear-gradient(var(--colorPrimary), var(--colorSecondary));
}

.slider-content {
  background-color: var(--colorWhite);
  /* height: 90vh; */
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 15px 15px;
}

.slider-content2 {
  background-color: var(--colorWhite);
  /* height: 90vh; */
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 15px 15px;
}

.slider-Heading h4 {
  border: 2px dashed;
  margin-bottom: 15px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorPrimary);
  font-size: 2em;
  padding: 0.4em 0;
  font-family: "Trajan";
}

.slider-name h4 {
  color: var(--colorPrimary);
  /* font-size: 2em !important; */
}

.slider-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.slider-hightlight {
  background-color: var(--colorPrimary);
  color: white;
  padding: 10px;
}

.slider-border {
  border: 2px dashed;
  padding: 10px;
  font-size: 1.2em;
  /* text-align: left !important; */
}

.slider-pricing {
  font-size: 1.7em;
}

.slider_hightlights {
  font-size: 1.4em;
  text-align: left;
  padding: 0px 10px;
  text-transform: capitalize;
  line-height: 3rem;
}

.slider_hightlights i {
  padding-right: 10px;
}

#slider_section .carousel-item {
  height: 90vh;

  margin-bottom: 20px;
}

#slider_section .carousel-item img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1000px) {
  .slider-content,
  .slider-content2 {
    margin-top: 110px;
  }

  #slider_section .carousel-item {
    margin-top: 90px;
  }
}

@media screen and (max-width: 600px) {
  .slider-content {
    margin-top: 80px;
  }
}
.pro-button {
  font-size: 1.1em;
  padding: 0.5em 1.5em;
  border-radius: 10px;
  text-transform: capitalize;
}

/* Overview */
#overview_section .sub-heading {
  color: var(--colorBlack);
}
/* .overview_img {
  height: 400px;
  width: 400px;
} */
.overview_img img {
  width: 450px;
  aspect-ratio: 1;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.overview_para {
  text-align: justify;
  font-size: 1.2em;
}

/* Highlights */
.hightlight_item .items {
  margin-bottom: 10px;
}

.hightlight_item .items:last-child {
  margin-bottom: 0;
}

.hightlight_wrap {
  /* text-align: center; */
  padding: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.5s ease;
  margin: 0;
  color: var(--colorWhite);
  background-color: var(--colorPrimary);
}

.hightlight_wrap img {
  width: 35px !important;
  margin-right: 10px !important;
  filter: invert(12%) sepia(96%) saturate(5521%) hue-rotate(353deg)
    brightness(87%) contrast(84%);
}

.hightlight_wrap p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

.hightlight_wrap h6 {
  margin-bottom: 0;
  font-size: 17px;
  text-transform: capitalize;
}

.hightlight_wrap:hover {
  transition: all 0.5s ease;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}

.hightlight_wrap.home_page {
  margin-bottom: 0;
  padding: 30px 10px;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.45);
  transition: all 0.5s ease;
  justify-content: center;
  align-items: unset;
}

.hightlight_wrap.home_page img {
  width: 80px !important;
  margin-bottom: 10px;
  margin-right: 0 !important;
}

.hightlight_wrap.home_page:hover {
  transition: all 0.5s ease;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}

.hightlight_wrap.home_page p {
  font-size: 0.8vw;
  line-height: 1.1vw;
}

/* Gallery */
.gal-img {
  /* width: 19em !important; */
  height: 200px;
}
.gal-img img {
  width: 100% !important;
  height: 100%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
}
